
.maincard{
  padding: 100px;
  border-radius: 30px;
  z-index: 1;
  /* width: ; */
}

.person1{
    position: relative;
    top: -100px;
    left: 50px;
    z-index: 2;
}

.person2{
    position: relative;
    top: 90px;
    left: -50px;
    z-index: 2;

}
.vector{
    position: relative;
    top: 400px;
  left: 400px;
    z-index: 2;
}
.vector1{
  position: relative;
  top: 200px;
  left: -450px;
  z-index: 2;
   
}
.name{
  font-family: "DM Sans",sans-serif;
  font-weight: 400;
  size: 14px;
  line-height: 26px;
  align-items: center;
}
.sign{
  font-family: "Merriweather",serif;
  font-weight: 700;
  font-size: 35px;
  color: var(--text-color);
  line-height: 30px;
}

